<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Productos</title>
    <!-- CDN DE FLOWBITE -->
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.1/dist/flowbite.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="http://drive.google.com/uc?export=view&id=1e9ghZwtWgswSg6HKwmHB8be6hDN5y1sb" />

</head>

<body>
            <h1>Lista de productos</h1>
            <br />
            <ul class="people_list">
                
            </ul>

    <div class="overflow-x-auto relative">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="py-3 px-6">
                        Nombre
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Imagen
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Precio
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each Productos}}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                        
                    <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{this.title}}
                    </th>
                    <td class="py-4 px-6">
                        <img src="../../assets/img/{{this.file}}" alt="{{this.file}}">
                        
                    </td>
                    <td class="py-4 px-6">
                        $ {{this.price}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <script src="./tailwind.config.js"></script>
    <script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>

</body>

</html>